NEXT_PUBLIC_SITE_URL=https://leaveittobumbum.com
STRIPE_SECRET_KEY=sk_live_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
STRIPE_PRICE_HELPER=price_replace_me
STRIPE_PRICE_OPERATOR=price_replace_me
RESEND_API_KEY=re_replace_me
TOOL_REQUEST_EMAIL=hello@leaveittobumbum.com
STRIPE_PORTAL_CONFIGURATION_ID=bpc_replace_me

